<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Projects</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addProject()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let project of projects">
      <ion-item (click)="openProject(project)">
        <ion-label>
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
        </ion-label>
        <ion-button fill="clear" (click)="deleteProject(project.id)">Delete</ion-button>
        <ion-button fill="clear" (click)="editProject(project)">Edit</ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">{{ environmentName }} Environment</ion-title>
  </ion-toolbar>
</ion-footer>
